body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

table {
    border-spacing: 0;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.bg-green {
    background-color: #7cb47a;
}

.bg-grey {
    background-color: #ededed;
}

.shadow {
    -webkit-box-shadow: 3px 8px 41px 4px rgba(34, 60, 80, 0.14);
    -moz-box-shadow: 3px 8px 41px 4px rgba(34, 60, 80, 0.14);
    box-shadow: 3px 8px 41px 4px rgba(34, 60, 80, 0.14);
}

.base-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.nav-wrapper {
    background-color: #ededed;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.links-nav-wrapper {
    gap: 27px;
}

.header-button-wrapper {
    gap: 39px;
}

.header-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    gap: 19px;
    padding: 0;
    margin: 0;
    background: 0;
    border: 0;
}

.second-nav-wrapper {
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

.user-name {
    font-weight: bold;
}

.main-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    gap: 20px;
}

aside {
    flex-basis: 280px;
    gap: 40px;
}

.aside-title {
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 60px;
    font-weight: bold;
    color: white;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 130px;
}

.service {
    padding-left: 23px;
    padding-right: 13px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.service-title {
    font-size: 14px;
    width: 55px;
}

.services-wrapper {
    padding-top: 30px;
}

.services-human {
    padding-top: 19px;
    width: 150px;
}

.bottles-wrapper {
    padding: 24px 0 31px 25px;
    gap: 22px
}

.all-research-button {
    display: flex;
    gap: 26px;
    border: 0;
    padding: 0;
    color: white;
    margin-left: 20px;
    margin-bottom: 35px;
    width: 240px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

aside td {
    height: 60px;
    padding-left: 30px;
    font-size: 14px;
}

aside tr:nth-child(2n-1) {
    background-color: #ededed;
}

.table-date {
    color: #a6a6a6;
}

main {
    flex-basis: 960px;
}

.welcome-atlas {
    gap: 39px;
    padding: 70px 0 55px 40px;
    background-image: url("/public/img/welcome-atlas-bg.png");
}

.welcome-atlas h1 {
    font-size: 40px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.welcome-atlas span {
    font-size: 20px;
}

main h2 {
    font-size: 30px;
}

.atlas-features-wrapper {
    row-gap: 40px;
}

.atlas-features-item {
    gap: 30px;
    flex-grow: 1;
}

.atlas-features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
}

.atlas-features-item span {
    display: flex;
    align-items: center;
    width: 250px;
}

.instruction-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 45px;
}

.instruction-wrapper:nth-child(2n-1) {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.instruction-text {
    flex-basis: 360px;
    justify-content: center;
}

.instruction-number {
    font-weight: 700;
    font-size: 120px;
    color: #e5e5e5;
}
