body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

.modal-open {
    height: 100vh;
    overflow: hidden;
}

table {
    border-spacing: 0;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.base-padding {
    padding: 0 40px;
}

.bg-green {
    background-color: #7cb47a;
}

.bg-grey {
    background-color: #ededed;
}

.shadow {
    -webkit-box-shadow: 3px 8px 41px 4px rgba(34, 60, 80, 0.14);
    -moz-box-shadow: 3px 8px 41px 4px rgba(34, 60, 80, 0.14);
    box-shadow: 3px 8px 41px 4px rgba(34, 60, 80, 0.14);
}

.success-submit {
    display: none;
    position: fixed;
    color: white;
    font-weight: bold;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.success-submit div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 20px;
}

.success-submit-open {
    display: flex;
}

.reg-form-wrapper {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(155 155 155 / 63%);
}

.reg-form-wrapper-open {
    display: flex;
    z-index: 1;
    backdrop-filter: blur(4px);
}

.reg-form {
    width: 350px;
    height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.reg-form input {
    width: 270px;
}

.showPassword,
.showPasswordRepeat {
    position: relative;
}

.showPassword svg,
.showPasswordRepeat svg {
    position: absolute;
    left: 251px;
}

.reg-form-submit {
    display: none;
}

.close-form {
    position: absolute;
    margin-bottom: 350px;
    margin-left: 250px;
}

.header-wrapper {
    justify-content: center;
}

.nav-wrapper {
    flex-grow: 1;
    max-width: 1280px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.burger-nav {
    display: none;
    border: 0;
    padding: 0;
}

.links-nav-wrapper {
    gap: 27px;
}

.links-nav-wrapper a {
    height: 20px;
}

.links-nav-wrapper a:hover {
    height: 18px;
    border-bottom: 2px solid #313131;
}

.header-button-wrapper {
    gap: 39px;
}

.header-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    gap: 19px;
    padding: 0;
    margin: 0;
    background: 0;
    border: 0;
}

.second-nav-wrapper {
    flex-grow: 1;
    max-width: 1280px;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

.user-name {
    font-weight: bold;
}

.main-wrapper {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
    gap: 40px;
}

aside {
    flex-basis: 280px;
    gap: 40px;
}

.aside-title {
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 60px;
    font-weight: bold;
    color: white;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 130px;
}

.service {
    padding-left: 23px;
    padding-right: 13px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.service-title {
    font-size: 14px;
    width: 55px;
}

.services-wrapper {
    padding-top: 30px;
}

.services-human {
    padding-top: 19px;
    width: 150px;
}

.bottles-wrapper {
    padding: 24px 0 31px 25px;
    gap: 22px
}

.all-research-button {
    display: flex;
    gap: 26px;
    border: 0;
    padding: 0;
    color: white;
    margin-left: 20px;
    margin-bottom: 35px;
    width: 240px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

aside td {
    height: 60px;
    padding-left: 30px;
    font-size: 14px;
}

aside tr:nth-child(2n-1) {
    background-color: #ededed;
}

.table-date {
    color: #a6a6a6;
}

main {
    flex-basis: 960px;
}

.welcome-atlas {
    gap: 39px;
    padding: 70px 0 55px 40px;
    background-image: url("./public/img/welcome-atlas-bg.png");
    background-size: cover;
}

.welcome-atlas h1 {
    font-size: 40px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.welcome-atlas span {
    font-size: 20px;
}

main h2 {
    font-size: 30px;
}

.atlas-features-wrapper {
    row-gap: 40px;
}

.atlas-features-item {
    gap: 30px;
    flex-grow: 1;
}

.atlas-features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
}

.atlas-features-icon:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

.atlas-features-item span {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 185px;
}

.instruction-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 45px;
}

.instruction-wrapper:nth-child(2n-1) {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.instruction-text {
    flex-basis: 280px;
    justify-content: center;
}

.instruction-number {
    font-weight: 700;
    font-size: 120px;
    color: #e5e5e5;
}

.instruction-image {
    max-width: 480px;
    width: 100%;
}

footer {
    justify-content: center;
}

.footer-wrapper {
    color: white;
    max-width: 1280px;
    flex-grow: 1;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
